@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
body {
    height:100%;
    margin:0;
    background-color: rgb(221, 221, 221);
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow:scroll;
    vertical-align:middle;
}

#background {
    height: 370px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #895E33 url('/img/birthdaybg.jpeg');
    position: absolute;
    background-color:;
}

#content {
    background: white;
    box-shadow:0 0 25px 2px rgba(0,0,0,0.1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    margin: 2em 2em;
    padding: 35px 20px;
}

#date {
    text-transform: uppercase;
    display: block;
    font-family: 'Crete Round', sans-serif;
    font-weight: bold;
    padding: 2em 2em 2em;
    text-align: center;
    font-size:45px;
    color: white;
}

#title{
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Crete Round', sans-serif;
    text-align: center;
    font-size: 25px;
    color: #ff6347;
}

#subtitle{
    font-size:12.5px;
    line-height:1.5em;
    padding-top:20px;
    font-size: 17px;
    text-align:justify;
    text-align-last:center;
    color:black;
}

img {
    width: 100%;
    border-radius: 11px;
}

footer {
    background-color: #895E33;
    padding:0px 20px 20px;
}

canvas{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
}

